* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#FFFFFF;
}

body {
    background-color: #202020;
    color: #f0f0f0;
    line-height: 1.6;
    font-family: "Audiowide", sans-serif;
}

header {
    color: white;
    padding: 16px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #202020;
    z-index: 1000;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header_logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 43%;
}

.header_title {
    font-size: 30px;
}

.nav_container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.header_nav a {
    text-decoration: none;
    color: white;
}

.header_search {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 10px;
}

.header_search input {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-image: url("./images/search.png");
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 20px;
    padding-left: 35px;
}

.random {
    text-decoration: none;
    color: white;
}

.main {
    padding-top: 100px;
}

.search_button:focus {
    border: black 2px solid;
}

.link:hover{
    color: red;
}

.circle_profile {
    height: 250px;
    width: 250px;
    background-color: #FFFFFF;
    border-radius: 200px;
  }

  /*No se centra la imagen*/
.circle_profile img {
    width: 203px;
    height: 186px;
    align-items: center;
    
}

.main_jujutsukaisen img{
    width: 262px;
    height: 314px;
}

/*.main_options{
soon..
}*/

.onepiece_image{
    width: 186px;
    height: 260px;
}

.onepiece_banner{
    width: 1196px;
    height: 260px;
}

.logo:hover {
   animation-name: logorotation;
   animation-duration: 10s;
   animation-iteration-count: infinite;
}

@keyframes logorotation{
    100%{
        transform: rotateY(1turn)
    }
}
